* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

#bg-login {
    background: url('images/12.jpg');
    background-size: cover;
    background-position: center;
}

.box-login {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.box-login h2 {
    text-align: center;
    margin-bottom: 15px;
}

.input-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.btn {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

header {
    background-color: #2400c7;
    color: #fff;
}

header h1 {
    float: left;
    padding: 10px;
}

header ul {
    float: right;
}

header ul li {
    display: inline-block;
}

header ul li a {
    padding: 20px 0 20px 15px;
    display: inline-block;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container:after {
    content: '';
    display: block;
    clear: both;
}

.section {
    padding: 25px 0;
}

.box {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    box-sizing: border-box;
    margin: 10px 0;
}